[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
async-timeout = "*"
attrs = "*"
autopep8 = "*"
certifi = "*"
chardet = "*"
charset-normalizer = "*"
colorama = "*"
distlib = "*"
dnspython = "*"
docopt = "*"
filelock = "*"
idna = "*"
motor = "*"
multidict = "*"
platformdirs = "*"
py-cord = "*"
pycodestyle = "*"
pymongo = "*"
python-dotenv = "*"
requests = "*"
six = "*"
toml = "*"
typing-extensions = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
yarg = "*"
yarl = "*"
python-dateutil = "*"
parsedatetime = "*"
pillow = "*"
dateparser = "*"
psutil = "*"
numpy = "*"
tensorflow-cpu = "*"
scikit-image = "*"
captcha = "*"

[dev-packages]

[requires]
python_version = "3.9"
